<div class = "container">
<% flash.each do |key, value| %>
    <h4><%= value %></h4>
<% end %>
<%= form_for @user, url: create_session_path do |f| %>

    <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
    </div>
    
    <%= f.submit "Log In", class: "submit-button-create" %>
    <%= link_to "Create New Account", new_user_path, class: "submit-button" %>
<% end %>

</div>